# Подготовил Долгушин Валерий Русланович
## E-mail для связи: dolgushinvalerii@gmail.com

Проанализировать массив данных при помощи языка Python (допускается и рекомендуется использование дополнительных библиотек): вычисление среднего, максимального/минимального значений, медианы, моды числовых значений как для всего массива в целом, так и для каждого типа контента (столбец Type) в отдельности. Найти самый популярный объект в выборке, объяснить почему. Решение предоставить в виде .py/.ipynb файла на github.

Импортируем библиотеки NumPy, Pandas.

In [165]:
import pandas as pd
import numpy as np

Загрузим файл dataset_Facebook.csv и не забудем изменить сепаратор по умолчанию. Выведем для проверки несколько последних значений.

In [166]:
data = pd.read_csv('dataset_Facebook.csv', sep = ';')
data.tail(5)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

Посчитаем среднее значение по всему датасету.

data.mean()

Вычислим минимальное значение по всем столбцам для всех типов контента.

In [168]:
data.min()

Page total likes                                                       81370
Type                                                                    Link
Category                                                                   1
Post Month                                                                 1
Post Weekday                                                               1
Post Hour                                                                  1
Paid                                                                       0
Lifetime Post Total Reach                                                238
Lifetime Post Total Impressions                                          570
Lifetime Engaged Users                                                     9
Lifetime Post Consumers                                                    9
Lifetime Post Consumptions                                                 9
Lifetime Post Impressions by people who have liked your Page             567
Lifetime Post reach by people who like your Page                         236
Lifetime People who have liked your Page and engaged with your post        9
comment                                                                    0
like                                                                       0
share                                                                      0
Total Interactions                                                         0
dtype: object

А теперь максимальное значение.

In [169]:
data.max()

Page total likes                                                        139441
Type                                                                     Video
Category                                                                     3
Post Month                                                                  12
Post Weekday                                                                 7
Post Hour                                                                   23
Paid                                                                         1
Lifetime Post Total Reach                                               180480
Lifetime Post Total Impressions                                        1110282
Lifetime Engaged Users                                                   11452
Lifetime Post Consumers                                                  11328
Lifetime Post Consumptions                                               19779
Lifetime Post Impressions by people who have liked your Page           1107833
Lifetime Post reach by people who like your Page                         51456
Lifetime People who have liked your Page and engaged with your post       4376
comment                                                                    372
like                                                                      5172
share                                                                      790
Total Interactions                                                        6334
dtype: object

Найдем второй квартиль для каждого столбца, то есть медиану.

In [170]:
data.median()

Page total likes                                                       129600.0
Category                                                                    2.0
Post Month                                                                  7.0
Post Weekday                                                                4.0
Post Hour                                                                   9.0
Paid                                                                        0.0
Lifetime Post Total Reach                                                5281.0
Lifetime Post Total Impressions                                          9051.0
Lifetime Engaged Users                                                    625.5
Lifetime Post Consumers                                                   551.5
Lifetime Post Consumptions                                                851.0
Lifetime Post Impressions by people who have liked your Page             6255.5
Lifetime Post reach by people who like your Page                         3417.0
Lifetime People who have liked your Page and engaged with your post       412.0
comment                                                                     3.0
like                                                                      101.0
share                                                                      19.0
Total Interactions                                                        123.5
dtype: float64

Так как несколько значений встречаются одинаковое количество раз, а также при этом максимальное количество раз, то в некоторых колонках будет сразу несколько модальных значений. В случае отсутствия моды (если значение не встречается чаще одного раза) нам вернется значение NaN.

In [171]:
data.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136393.0,Photo,1.0,10.0,7.0,3.0,0.0,677.0,4372.0,537.0,182.0,431.0,1210.0,690,403.0,0.0,98.0,13.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2232.0,6503.0,NaN,298.0,513.0,1284.0,704,NaN,NaN,NaN,14.0,39.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2645.0,7004.0,NaN,319.0,599.0,2541.0,1228,NaN,NaN,NaN,NaN,75.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2938.0,8533.0,NaN,322.0,652.0,2888.0,1640,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3322.0,8745.0,NaN,335.0,719.0,3675.0,1674,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.0,12735.0,NaN,374.0,730.0,4911.0,1722,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3414.0,NaN,NaN,482.0,795.0,4935.0,2044,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3528.0,NaN,NaN,503.0,889.0,5010.0,2124,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3754.0,NaN,NaN,513.0,NaN,5732.0,2162,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5280.0,NaN,NaN,642.0,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5290.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6692.0,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9528.0,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13544.0,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32208.0,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5372,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7020,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8032,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8120,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN

Узнаем сколько различных значений принимает столбец 'Type'.

In [172]:
data['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

Извлечем подвыборки из датасета для каждого типа контента.

In [173]:
photo = data.loc[data['Type'] == 'Photo']
status = data.loc[data['Type'] == 'Status']
link = data.loc[data['Type'] == 'Link']
video = data.loc[data['Type'] == 'Video']

Исключим столбец 'Type', так как методы mean, median для объекта типа DataFrame не учитывают нечисловые переменные.

In [174]:
columns = list(data.columns.values)
columns.remove('Type')

Таблица средних значений по столбцам для всего датасета и различных типов контента.

In [175]:
mean = pd.DataFrame({
    'Column': columns,
    'Dataset': data.mean().values, 
    'Photo': photo.mean().values,
    'Status': status.mean().values,
    'Link': link.mean().values,
    'Video': video.mean().values
                    })
mean

,Column,Dataset,Link,Photo,Status,Video
0,Page total likes,123194.176000,116363.181818,122354.171362,132647.044444,135014.857143
1,Category,1.880000,1.136364,1.917840,2.022222,1.000000
2,Post Month,7.038000,6.590909,6.805164,9.066667,9.571429
3,Post Weekday,4.150000,4.272727,4.107981,4.577778,3.571429
4,Post Hour,7.840000,5.727273,7.997653,7.244444,8.714286
5,Paid,0.278557,0.272727,0.280000,0.222222,0.571429
6,Lifetime Post Total Reach,13903.360000,18544.590909,13137.814554,13078.888889,51205.714286
7,Lifetime Post Total Impressions,29585.948000,28725.454545,28994.497653,24244.466667,102622.428571
8,Lifetime Engaged Users,920.344000,342.818182,818.946009,2040.222222,1707.000000
9,Lifetime Post Consumers,798.772000,292.681818,690.431925,1949.555556,1584.714286
10,Lifetime Post Consumptions,1415.130000,374.090909,1299.025822,2838.866667,2600.142857
11,Lifetime Post Impressions by people who have l...,16766.376000,11148.590909,16422.483568,18664.266667,43149.857143
12,Lifetime Post reach by people who like your Page,6585.488000,6544.363636,6059.103286,9908.577778,17386.285714
13,Lifetime People who have liked your Page and e...,609.986000,210.545455,507.305164,1719.844444,979.428571
14,comment,7.482000,2.818182,7.492958,8.911111,12.285714
15,like,177.945892,73.318182,182.611765,176.711111,231.428571
16,share,27.266129,12.909091,27.158768,31.422222,52.142857
17,Total Interactions,212.120000,89.045455,216.579812,217.044444,295.857143

Таблица минимальных значений по столбцам для всего датасета и различных типов контента.

In [176]:
minim = pd.DataFrame({
    'Column': data.columns.values,
    'Dataset': data.min().values, 
    'Photo': photo.min().values,
    'Status': status.min().values,
    'Link': link.min().values,
    'Video': video.min().values
                    })
minim

,Column,Dataset,Link,Photo,Status,Video
0,Page total likes,81370,85979,81370,104070,126424
1,Type,Link,Link,Photo,Status,Video
2,Category,1,1,1,1,1
3,Post Month,1,1,1,3,6
4,Post Weekday,1,1,1,1,2
5,Post Hour,1,2,1,2,2
6,Paid,0,0,0,0,0
7,Lifetime Post Total Reach,238,1536,238,3930,13544
8,Lifetime Post Total Impressions,570,3094,570,7509,30235
9,Lifetime Engaged Users,9,24,9,128,459
10,Lifetime Post Consumers,9,23,9,86,411
11,Lifetime Post Consumptions,9,26,9,112,539
12,Lifetime Post Impressions by people who have l...,567,2307,567,5009,21436
13,Lifetime Post reach by people who like your Page,236,1180,236,2410,9568
14,Lifetime People who have liked your Page and e...,9,19,9,101,363
15,comment,0,0,0,0,2
16,like,0,5,0,13,65
17,share,0,0,0,1,13
18,Total Interactions,0,6,0,17,81

Таблица максимальных значений по столбцам для всего датасета и различных типов контента.

In [177]:
maxim = pd.DataFrame({
    'Column': data.columns.values,
    'Dataset': data.max().values, 
    'Photo': photo.max().values,
    'Status': status.max().values,
    'Link': link.max().values,
    'Video': video.max().values
                    })
maxim

,Column,Dataset,Link,Photo,Status,Video
0,Page total likes,139441,138895,139441,139441,138895
1,Type,Video,Link,Photo,Status,Video
2,Category,3,3,3,3,1
3,Post Month,12,12,12,12,12
4,Post Weekday,7,7,7,7,6
5,Post Hour,23,14,23,15,13
6,Paid,1,1,1,1,1
7,Lifetime Post Total Reach,180480,70912,180480,31136,139008
8,Lifetime Post Total Impressions,1110282,229733,1110282,59964,277100
9,Lifetime Engaged Users,11452,1374,11452,6164,3872
10,Lifetime Post Consumers,11328,1106,11328,5934,3822
11,Lifetime Post Consumptions,19779,1345,19779,9237,7327
12,Lifetime Post Impressions by people who have l...,1107833,42338,1107833,37849,107502
13,Lifetime Post reach by people who like your Page,51456,27232,51456,21352,38720
14,Lifetime People who have liked your Page and e...,4376,788,3430,4376,2218
15,comment,372,15,372,60,23
16,like,5172,379,5172,859,449
17,share,790,44,790,123,121
18,Total Interactions,6334,420,6334,1009,550

Таблица медиан по столбцам для всего датасета и различных типов контента.

In [178]:
median = pd.DataFrame({
    'Column': columns,
    'Dataset': data.median().values, 
    'Photo': photo.median().values,
    'Status': status.median().values,
    'Link': link.median().values,
    'Video': video.median().values
                    })
median

,Column,Dataset,Link,Photo,Status,Video
0,Page total likes,129600.0,115396.0,128032.0,135713.0,137893.0
1,Category,2.0,1.0,2.0,2.0,1.0
2,Post Month,7.0,4.5,7.0,10.0,11.0
3,Post Weekday,4.0,4.5,4.0,5.0,3.0
4,Post Hour,9.0,4.0,9.0,9.0,11.0
5,Paid,0.0,0.0,0.0,0.0,1.0
6,Lifetime Post Total Reach,5281.0,7422.0,4675.0,11096.0,30624.0
7,Lifetime Post Total Impressions,9051.0,9773.0,8118.5,20849.0,56950.0
8,Lifetime Engaged Users,625.5,244.0,605.5,1701.0,1779.0
9,Lifetime Post Consumers,551.5,205.0,528.5,1599.0,1643.0
10,Lifetime Post Consumptions,851.0,290.0,827.0,2201.0,2331.0
11,Lifetime Post Impressions by people who have l...,6255.5,9034.5,5498.0,17502.0,30131.0
12,Lifetime Post reach by people who like your Page,3417.0,5039.0,3110.0,8980.0,14112.0
13,Lifetime People who have liked your Page and e...,412.0,161.5,403.0,1604.0,885.0
14,comment,3.0,1.5,3.0,4.0,17.0
15,like,101.0,37.0,100.0,150.0,204.0
16,share,19.0,10.5,19.0,28.0,44.0
17,Total Interactions,123.5,52.5,122.0,186.0,271.0

Моды для категории фотографий.

In [179]:
photo.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,124940.0,Photo,1.0,10.0,7.0,3.0,0.0,677.0,4372.0,537.0,298.0,431.0,1210.0,690,403.0,0.0,7.0,14.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2232.0,6503.0,NaN,319.0,513.0,1284.0,704,NaN,NaN,79.0,NaN,39.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2938.0,7004.0,NaN,335.0,599.0,2541.0,1228,NaN,NaN,98.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3322.0,8533.0,NaN,374.0,652.0,2888.0,1640,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.0,8745.0,NaN,482.0,719.0,3675.0,1674,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3414.0,12735.0,NaN,503.0,730.0,4911.0,1722,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3528.0,NaN,NaN,513.0,795.0,4935.0,2044,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3754.0,NaN,NaN,642.0,889.0,5010.0,2124,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5280.0,NaN,NaN,NaN,NaN,5732.0,2162,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5290.0,NaN,NaN,NaN,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9528.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32208.0,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN

Моды для статусов.

In [180]:
status.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441.0,Status,2.0,12.0,5.0,10.0,0.0,NaN,NaN,NaN,NaN,1692.0,NaN,NaN,NaN,2.0,86.0,1.0,117.0
1,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,99.0,13.0,121.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129.0,18.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.0,36.0,NaN

Моды для ссылок.

In [181]:
link.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,138353.0,Link,1.0,12.0,6.0,3.0,0.0,NaN,NaN,66.0,322.0,NaN,NaN,NaN,NaN,0.0,12.0,2.0,14.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN

Моды для видеозаписей.

In [182]:
video.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,137893.0,Video,1.0,11.0,2,11.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,13.0,NaN
1,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN

Самый популярный пост найдем с помощью столбца 'Total Interactions', так как он является результатом суммирования столбцов 'comment', 'like', 'share'. Найдем индекс объекта с максимальным значением 'Total Interactions'.

In [183]:
np.argmax(data['Total Interactions'])

244

Нашли номер записи, а теперь используем его в качестве индекса для объекта-матрицы.

In [188]:
data.as_matrix()[244]

array([130791, 'Photo', 2, 7, 3, 5, 1.0, 180480, 319133, 8072, 4010, 6242,
       108752, 51456, 3316, 372, 5172.0, 790.0, 6334], dtype=object)

А можно сразу сделать выбор через условие.

In [187]:
data.loc[data['Total Interactions'] == np.max(data['Total Interactions'])]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

Как можно заметить, оба пособа корректно выбрали нужный нам пост.

Спасибо за внимание!